body{
    margin: 0;
}
/*
direction flex inline-flex
 flex-direction row row-reverse column column-reverse
 flex-wrap nowrap wrap wrap-reverse
 flex-flow shotend of flex-direction flex-wrap
 justify-content flex-start; flex-end center space-between space-around space-evenly(y axies)
 align-items stretch flex-start flex-end center baseline
 align-content stretch flex-start flex-end  center space-between space-around space-evenly(x axies)
*/
.container{
 border: 6px solid black;
 display: flex;
}
/*
order accept integer, default value 0 , x number
flex-grow accept positive integer min 0 ,relative property
flex-shrink accept positive integer min 0 ,relative property
flex-basis accept number like 200px ,default auto
1.set the initial size of a flex items
2.percentage ,pixels or relative unit.
3.Default value is auto
flex shorthand of flex-grow,flex-shrink,flex-basis
flex-self flex-start,flex-end ,center,default value auto ,get perent item alignn-item property
*/
.flex-item{
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    flex-shrink: 1;
}
.item-1{
 background-color:blue;
}
.item-2{
    background-color: green;
    flex-shrink: 4;

}
.item-3{
    background-color: yellow;
}
.item-4{
    background-color:brown;
}
.item-5{
    background-color:chartreuse;
}