<!-- Filename - login.ejs -->
<html>
<head>
	<title>Csurf Middleware</title>
</head>

<body>
	<form action="process" method="POST">
		<input type="hidden" name="_csrf"
			value="<%= csrfToken %>">
		<input type="text" name="myname">
		<input type="submit" value="Submit">
	</form>
</body>
</html>
